@model Lab4_EliasHaloun.Models.ModelsResor.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
